BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
QualifierAlignment: Right
ReferenceAlignment: Left
BreakTemplateDeclarations: Yes